body {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 17px;    
}
h1 {
    font-size: 80px;
    font-weight: 700;
}
h2 {
    font-size: 37px;
    font-weight: 700;
}
footer {
    height: 45vh;
}
.view {
    height: auto;
    padding: 4%;
    margin-top:-7px;
}
.box-center {
    padding: 10px;
}

.p-heigth2 {
    height: 300px;
}
.container-opacity {
    background-color: #44444679; 
}
.skills li {
    display: inline-block;
}
.skills li i {
    font-size: 60px;
    margin: 7px 40px;
}
.skills li img {
    width: 60px;
    margin: 7px 40px;
}
.skills li span {
    margin: 100px; 
}

.contact li {
    display:inline-block;
    margin:27px 50px;
}
.e-mail i, .contact li i {
    font-size:28px;
}
.social span {
    margin: 0 7px;
}
.text-style {
    font-size: 18px;
}
.border1{
 border-radius: 7px;
}
@media only screen and (min-width: 990px) {
    .p-heigth {
        height: 100vh;
    }
  
}