body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Raleway', sans-serif;    
}
h2{
    font-size: 37px;
    font-weight: 700;
}
figure img {
    width: 100%;
    height: 100vh;          
}
.position-relative{
    position: relative;
}
.first-image{
    margin: 0; 
}
.main-box{
    background-color: #2c3344a9;
    color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
.main-box h1{
    font-size: 80px;
    font-weight: 700;
}
.main-title{
    padding-top: 17vh;
}
.view{
    height: 100vh;
    padding-top: 4%;
    margin-top:-7px;
}
.foto{
    width:300px ;
}
.box-center{
    padding: 10px;
    height: 80vh;
    /* color: white; */
}
.parallax-container {
    height: 300px;
  }
.parallax img{
    filter: grayscale(72%) opacity(0.89);
    /* filter: invert(.8) grayscale(70%); */
   
}
.skills li{
    display: inline-block;
}
.skills li i{
    font-size: 60px;
    margin: 7px 40px;
}
.skills li img{
    width: 40px;
    margin: 7px 40px;
}
.skills li span{
    margin: 100px;
    
}
footer{
    height: 45vh;
}
footer h2{
    margin-bottom:50px;
}